:root {
    --first-color: #034492;
    --second-color: #E8DAEF;
    --compl-color: #0070C2;
}

/*Estilos globales de etiquetas*/
button {
    font-family: 'Cabin', sans-serif;
    background-color: var(--compl-color);
    color: #fff;
    transition: 0.5s;
    font-size: 15px;
}

button:hover {
    background-color: var(--first-color);
}

/*Estilos para main*/

.main-cal-graph {
    margin: 0 auto;
    flex-wrap: wrap;
    width: 90%;
}

/*Estilos contenedor eleccion modo de graficar*/
.cont-elec-mod-graf {
    width: 40%;
    margin-top: 25px;
    text-align: center;
}

.tit-elec-mod-graf {
    margin-bottom: 15px;
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 0 0 5px #666;
}

.cont-btn-mod-graf {
    display: flex;
    justify-content: center;
}

.cont-btn-mod-graf button {
    height: 35px;
    width: 40%;
    border-style: none;
}

.cont-btn-mod-graf>button:nth-child(1) {
    z-index: 1;
    border-bottom-left-radius: 15px;
    border-bottom: solid 5px var(--first-color);
    transition: border-bottom 0.2s ease-out;
}

.cont-btn-mod-graf>button:nth-child(2) {
    border-bottom-right-radius: 15px;
    transition: border-bottom 0.2s ease-out;
}

/*Estilos seccion de grafico y datos*/
.cont-date-graph {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    width: 100%;
}

.cont-info-graph {
    display: none;
    position: relative;
    /*left: 0px;*/
    height: 25px;
    background-color: #0070C2;
    animation: none;
}

@keyframes transparenciaActive {
    0% {
        opacity: 0%;
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 75%;
    }

    100% {
        opacity: 100%;
    }
}

/*Estilos graficadora*/
.cont-graph {
    display: flex;
    padding: 5px;
    background-color: #0070C2;
}

.graph {
    padding: 5px;
    background-color: #fff;
}

/*Estilos btn generar*/
.btn-generar {
    width: 125px;
    height: 35px;
    margin: 0 auto;
    border-style: none;
    outline: none;
    border-radius: 5px;
    background-color: #034492;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
}

.btn-generar:hover {
    transition: 0.5s;
    background-color: #043775;
}