.positivo {
    color: #0A5BF4;
    font-weight: bold;
}

.negativo {
    color: #FF0000;
    font-weight: bold;
}

.col-velocidad{
    color: #866BAD;
    font-weight: bold;
}

.col-distancia{
    color: #2B4D9D;
    font-weight: bold;
}

.col-tiempo{
    color: #E52421;
    font-weight: bold;
}

.cont-fun-teo {
    margin: 25px 0;
}

.cont-graph,
.cont-info-mru,
.cont-table,
.cont-ecuaciones {
    padding-top: 25px;
    width: 80%;
    text-align: justify;
    line-height: 40px;
}

.cont-info-mru ul {
    padding-left: 60px;
    font-size: 20px;
}

.sub-tit-teo {
    background-color: #0091FB;
    margin: 10px;
    padding: 0 10px;
    display: inline-block;
    color: #fff;
    min-width: 200px;
    text-align: center;
    font-weight: lighter;
    border-radius: 20px;
    text-align: center;
}

.cont-ley-graph {
    margin: 10px auto;
    border: solid 2px #FA7C14;
    max-width: 200px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.tit-ley-graph {
    background-color: #FA7C14;
    text-align: center;
    color: #fff;
}

.desc-teo,
.cont-tipos-mag {
    padding: 0 15px;
    font-size: 20px;
}

.cont-tipos-mag{
    display: flex;
}

.tipos-mag{
    margin: 0 15px;
    padding: 15px;
}

.table-leyes {
    width: 70%;
    margin: 0 auto;
    line-height: 20px;
    font-size: 20px;
}

.space {
    height: 10px;
}

.fact-conv {
    border-radius: 0 35px;
    background-color: var(--compl-color);
    color: #fff;
    font-weight: lighter;
    text-align: center;
}

.ejemplo-mru {
    padding: 10px;
    justify-content: center;
}

.eje-mru {
    padding: 5px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.eje-mru img {
    border-color: var(--compl-color);
    border-width: 1px;
    width: 100%;
    border-style: solid;
    margin: 0 auto;
}

.cont-full-info-mag {
    width: 100%;
}

.cont-info-mag {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: justify;
    line-height: 40px;
}

.velocidad h3,
.tiempo h3,
.distancia h3 {
    text-align: center;
    font-weight: lighter;
}

.cont-vel,
.cont-t {
    display: flex;
    flex-wrap: wrap;
}

.cont-dis {
    display: flex;
}

.velocidad,
.tiempo {
    flex: 1;
    min-width: 200px;
}

.velocidad,
.tiempo,
.distancia,
.cont-graph-speed {
    margin: 15px;
    background-color: #fff8;
    backdrop-filter: blur(7px);
    box-shadow: 0 0 5px var(--first-color);
    border-radius: 1em;
    padding: 10px;
}

.gift1,
.gift2,
.gift3 {
    align-self: center;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

.gift3 {
    width: 20%;
}

.cont-expl {
    width: 100%;
}

.expl-time {
    width: 80%;
}

.img-des {
    margin: 0 20px;
}

.gift3 img {
    max-width: 300px;
}

.ecuaciones ul,
.cont-graph-speed ul {
    padding-left: 60px;
    font-size: 20px;
}

.ecuaciones {
    text-align: justify;
    line-height: 40px;
}

.cont-triangulo {
    background-color: #fff;
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

.cont-triangulos {
    width: 65%;
}

.cont-info-recuerda {
    width: 90%;
    margin: 25px auto 0 auto;
}

.magnitudes-recuerda {
    background-color: #FA7C14;
    text-align: center;
    border-radius: 20px 20px 0 0;
    color: #fff;
    font-size: 20px;
}

.cont-det-recuerda {
    background-color: antiquewhite;
    border: solid 2px #FA7C14;
    border-radius: 0 0 20px 20px;
}

.cont-det-recuerda p {
    text-align: left;
}

.cont-ejem-med{
    text-align: center;
}

.ejemplos-med {
    display: inline-block;
    margin: 0 25px;
    text-align: left;
}

.info-graficas {
    background-color: #A25AF3;
}

.cont-info-graficas {
    border: solid 2px #A25AF3;
    background-color: #E4D7F3;
    margin-bottom: 15px;
}

.cont-info-graficas ul {
    padding-right: 20px;
    font-size: 20px;
}

.cont-grafica h3 {
    text-align: center;
}

.img-speed,
.img-dist,
.img-ace {
    width: 70%;
    margin: 0 auto;
}

.cont-graph-ds{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cont-exp-pendiente{
    width: 25%;
    padding: 10px;
}

.rep-vel-pen{
    background-color: #A25AF3;
}

.cont-exp-vel-pen{
    background-color: #E4D7F3;
    border-radius: 0 0 20px 20px;
    border: solid 2px #A25AF3;
    line-height: 27px;
}

.cont-exp-vel-pen span{
    display: block;
    padding: 0 20px;
}

.formu-dt{
    font-size: 20px;
    margin: 10px 0;
}

.cont-graph-speed {
    text-align: justify;
    line-height: 40px;
}

.tables {
    display: flex;
    flex-wrap: wrap;
}

.cont-magnitudes {
    flex: 1;
    width: 50%;
    min-width: 300px;
}

.cont-tabla {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}


table {
    margin: 5px 15px 15px 15px;
}

thead {
    background: var(--compl-color);
    color: white;
    font-weight: bold;
}

.subtitulos {
    background: var(--second-color);
}

td,
th {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 8px 15px;
}

@media screen and (min-width: 200px) and (max-width:915px) {

    .formula,
    .eje-mru {
        width: 90%;
    }

    .img-speed,
    .img-dist,
    .img-ace {
        width: 95%;
    }

    .cont-vel,
    .cont-t {
        display: grid;
        grid-template-columns: 80%;
        justify-content: center;
    }

    .cont-tipos-mag{
        flex-wrap: wrap;
    }

    .cont-triangulo{
        width: 100%;
    }

    .cont-info-mru, .cont-ecuaciones{
        width: 95%;
    }

    .eje-mru{
        width: 100%;
    }

    .gift1, .gift2{
        width: 80%;
    }
    
    .cont-vel, .cont-t{
        grid-template-columns: 100%;
    }

    .expl-time{
        width: 100%;
    }

    .gift3{
        width: 25%;
    }

    .cont-exp-pendiente{
        width: 70%;
    }
}

@media screen and (min-width: 260px) and (max-width: 600px) {

    .cont-dis{
        flex-wrap: wrap;
    }

    .gift3{
        width: 80%;
    }

    .cont-exp-pendiente{
        width: 95%;
    }
}