:root {
    --first-color: #034492;
    --second-color: #E8DAEF;
    --compl-color: #0070C2;
}

/*Estilos globales de etiquetas*/
button {
    font-family: 'Cabin', sans-serif;
    background-color: var(--compl-color);
    color: #fff;
    transition: 0.5s;
    font-size: 15px;
}

button:hover {
    background-color: var(--first-color);
}

/*Estilos para main*/

.main-cal-graph {
    margin: 0 auto;
    flex-wrap: wrap;
    width: 95%;
}

/*Estilos contenedor eleccion modo de graficar*/
.cont-elec-mod-graf {
    width: 40%;
    margin-top: 25px;
    text-align: center;
}

.tit-elec-mod-graf {
    margin-bottom: 15px;
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 0 0 5px #666;
}

.cont-btn-mod-graf {
    display: flex;
    justify-content: center;
}

.cont-btn-mod-graf button {
    height: 35px;
    width: 40%;
    border-style: none;
}

.cont-btn-mod-graf>button:nth-child(1) {
    z-index: 1;
    border-bottom-left-radius: 15px;
    border-bottom: solid 5px var(--first-color);
    transition: border-bottom 0.2s ease-out;
}

.cont-btn-mod-graf>button:nth-child(2) {
    border-bottom-right-radius: 15px;
    transition: border-bottom 0.2s ease-out;
}

/*Estilos de selectores de cantidades*/

.cont-op-cant{
    background-image: url("../IMG/Simulator/fondo-eti-gen-info-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    border: solid 3px var(--compl-color);
    text-shadow: 0 0 5px #000;
    margin: 20px auto;
    padding: 5px;
    width: 100%;
}

.cont-op-grid-auto{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.cont-op-per{
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.cont-op-per label{
    margin: 0 10px 0 0;
}

.cont-op-grid>div:nth-child(1){
    border-right: solid 2px #fff;
}

.cont-op{
    text-align: center;
}

.lbl-op-cant{
    display: block;
    color: #fff;
    font-family: 'Cabin', sans-serif;
}

select,input{
    height: 25px;
    border-style: none;
    border-radius: 5px;
    font-family: 'Cabin', sans-serif;
    outline: none;
    text-shadow: 0 0 5px #000;
}

.op-num{
    width: 50px;
    font-size: 15px;
    text-align: center;
    background: linear-gradient(to top, #fff5, #0000, #0000);
    border-bottom: solid 1px #fff;
    color: #fff;
}

select:hover {
    transition: 0.5s;
    background: none;
    background-color: #fffa;
    color: #000;
    text-shadow: none;
}

option {
    color: #000;
}


/*Estilos seccion de grafico y datos*/
.cont-date-graph {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.cont-info-graph {
    flex-grow: 1;
    display: none;
    justify-content: space-around;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 20px 0 0;
    padding: 15px;
    background-image: url("../IMG/Simulator/fondo-info_Mesa\ de\ trabajo\ 1.jpg");
    animation: none;
}

@keyframes transparenciaActive {
    0% {
        opacity: 0%;
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 75%;
    }

    100% {
        opacity: 100%;
    }
}

/*Estilos de etiquetas e inputs de ingreso de valores*/

.cont-info-per{
    border: solid 1px #fff;
    padding: 10px;
    border-style: dashed;
    border-radius: 10px;
}

.cont-info-per-uni div{
    margin-bottom: 5px;
}

.cont-info-per h3{
    font-weight: lighter;
    color: #fff;
    margin: 0 0 10px 0;
    text-align: center;
    padding: 0;
}

.eti-dat{
    display: inline-block;
    width: 55px;
    font-size: 16px;
    color: #fff;
    font-family: 'Cabin', sans-serif;
    
}

.inpDato{
    height: 28px;
    max-width: 75px;
    margin: 0 0 0 5px;
    padding: 10px;
    font-size: 15px;
    text-shadow: none;
}

/*Estilos graficadora*/

.cont-graph {
    padding: 5px;
    background-color: #0070C2;
    border-radius: 10px;
}

.tit-graph{
    font-weight: lighter;
    color: #fff;
}

.graph {
    padding: 5px;
    background-color: #fff;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

/*Estilos btn generar*/
.btn-generar, .btn-ingresar-datos {
    width: 125px;
    height: 35px;
    margin: 10px auto;
    border-style: none;
    outline: none;
    border-radius: 5px;
    background-color: #034492;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
}

.btn-generar:hover, .btn-ingresar-datos:hover {
    transition: 0.5s;
    background-color: #043775;
}