:root {
    --first-color: #034492;
    --second-color: #E8DAEF;
    --compl-color: #0070C2;
}

/*Estilos de la parte de requeriemientos de datos*/
.cont-simulator {
    margin: 0 auto;
    width: 80%;
    padding: 15px 0;
}

.simulator {
    width: 100%;
    margin: 0 auto;
}

.enter-date {
    padding: 30px;
    border-radius: 15px;

}

label {
    font-size: 20px;
    color: #fff;
    font-family: 'Cabin', sans-serif;
}

.titulo-obj {
    margin: 0 20px;
    display: flex;
    justify-content: center;
}

.space {
    width: 90px;
    height: 10px;
    display: inline-block;
}

.titulo-obj label {
    text-align: center;
    width: 180px;
    margin: 0 25px;
}

select,
input {
    height: 25px;
    border-style: none;
    border-radius: 5px;
    font-family: 'Cabin', sans-serif;
    outline: none;
}

.option-info {
    width: 40%;
    margin: 0 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px var(--compl-color);
    background-image: url("../IMG/Simulator/fondo-eti-gen-info-02.jpg");
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.option-info select,
select {
    width: 50px;
    font-size: 15px;
    text-align: center;
    margin-right: 25px;
    background: linear-gradient(to top, #fff5, #0000, #0000);
    border-bottom: solid 1px #fff;
    color: #fff;
}

.option-num-obj {
    text-shadow: 0px 0px 5px #000;
}

.lbl-num-obj {
    margin: 0 10px 0 0;
    color: #fff;
    text-shadow: 0px 0px 5px #000;
}

select:hover {
    transition: 0.5s;
    background: none;
    background-color: #fffa;
    color: #000;
    text-shadow: none;
}



option {
    color: #000;
}

.btn-gen-obj,
.btn-simu,
.prev-btn-play,
.btn-play {
    width: 100px;
    height: 35px;
    border-style: none;
    outline: none;
    border-radius: 5px;
    background-color: #034492;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
}

.btn-simu {
    width: 150px;
}

.btn-gen-obj:hover,
.btn-simu:hover {
    transition: 0.5s;
    background-color: #043775;
}

.cont-lbl-in {
    width: 90%;
    margin: 0 auto;
    padding: 30px 20px;
    background-image: url("../IMG/Simulator/fondo-info_Mesa\ de\ trabajo\ 1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    border-top: solid 3px #0070C2;

}

.mos-obj {
    display: flex;
    margin: 20px;
    justify-content: center;
    padding: 2px;
}

.cont-inp {
    display: flex;
    align-items: center;
}

.mos-obj label {
    width: 100px;
}

.cont-inp-info-par {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 185px;
    align-items: flex-end;
    justify-content: center;
    margin: 0 25px;
}

.inpO {
    height: 28px;
    max-width: 100px;
    padding: 10px;
    font-size: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.opt-um {
    height: 28px;
    width: 80px;
    margin: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-simu {
    display: block;
    margin: 30px auto 0 auto;
}

/*Fin de los estilos de la seccion de requerimientos de datos   */

/*Estilos para el titulos y comentario ded simulacion*/
.cont-subtitle-state {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../IMG/Simulator/fondo-estado-rojo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-out;
    height: 60px;
}

.title-simu-state {
    color: #fff;
    text-shadow: 0px 0px 5px #000;
    font-weight: 10;
    font-family: 'Federant', cursive;
}

.advertencia-simulador {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff8c00;
    width: 70%;
    border-radius: 13px;
    padding: 5px 25px;
    margin: 0 auto 30px auto;
}

.acc-sim p {
    font-family: 'Cabin', sans-serif;
    font-weight: lighter;
    margin: 0 15px;
    color: #fff;
}

/*Fin para el titulos y comentario ded simulacion*/


/*Estilos para el bloque de simulacion*/
.acc-sim {
    width: 100%;
    text-align: center;
}

.cont-simu-glob {
    display: flex;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    flex-grow: 1;
    border: solid 5px #555;
}

.cont-simu {
    display: flex;
    flex-wrap: wrap;
}

.simu-start {
    min-width: 130px;
    background-color: black;
    border-left: solid 5px #fff;
}

.cont-calle {
    position: relative;
    display: flex;
}

.eti-a {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-family: 'Righteous', cursive;
}


.cont-calle img {
    width: 100%;

}

.cont-auto {
    width: 120px;
    position: absolute;
    top: 0px;
    right: -120px;

}

.auto-simu {
    width: 100%;
}

.btn-play {
    width: 150px;
    height: 35px;
    margin: 20px auto;
    color: #aaa;
    padding: 7px 0px;
    background: linear-gradient(135deg, #034492, #0070C2, #034492, #0070C2, #034492, #0070C2, #034492, #0070C2, #034492);
    transition: background 1s ease-out;
}

.btn-play:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 5px #000;
}
/*fin de estilos para el bloque de simulacion*/