:root {
    --first-color: #034492;
    --second-color: #E8DAEF;
    --compl-color: #0070C2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
    background-image: url("../IMG/fondo-body-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}

/*Estilos cabecera*/

.head-page {
    background-image: url("../IMG/Fondo-header_Mesa\ de\ trabajo\ 1.jpg");
    background-position: center;
    width: 100%;
    padding: 10px;
}

.cont-head-tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 365px;
}

.tittle-page {
    display: inline-block;
    color: #fff;
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: lighter;
    font-size: 50px;
}

.tittle-complete-page {
    color: #fff;
    font-family: 'Righteous', cursive;
    font-weight: lighter;
    font-size: 25px;
}

/* Estilos menu de experiencia */

.cont-nav-items {
    background-color: var(--first-color);
    width: 100%;
    z-index: 100;
}

.nav-items {
    margin: 0 auto;
    min-height: 35px;
    justify-content: center;
}

.nav-items ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-items ul a {
    padding: 4px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    text-decoration: none;
    font-family: 'Righteous', cursive;
    color: #bbb;
    font-weight: lighter;
}

.nav-items ul a:hover {
    transition: 0.5s;
    background-color: var(--compl-color);
    color: #fff;
}

.menu-responsive {
    background-color: transparent;
    border-style: none;
    display: none;
    width: 25px;
}

/*Estilos menu de información*/

.elementos {
    background-color: var(--compl-color);
    width: 100%;
    padding: 10px;
}

.nav-elementos {
    margin: 0 auto;
    width: 50%;
}

.nav-elementos {
    width: 940px;
    margin: 0 auto;
}


.nav-elementos ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-elementos li {
    margin: 0 0 0 25px;
    text-align: center;
}

.nav-elementos a {
    color: #0B2748;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Righteous', cursive;
}

.nav-elementos a:hover {
    transition: 0.5s;
    color: var(--second-color);
}

/*Estilos de inicio de contenido*/
main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Cabin', sans-serif;
}

h2 {
    padding: 10px;
    font-family: 'Righteous', cursive;
    text-align: center;
}

h3 {
    font-family: 'Righteous', cursive;
}
/*Estilos para tablas de conversion*/



/*Boton pantalla completa

.acc-fullScr{
    position: fixed;
    bottom: 85px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #777;
}

/*footer: pie de pagina*/

.footer-page {
    position: absolute;
    bottom: 0;
    background-color: var(--first-color);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.sub-info-dep {
    font-family: 'Righteous', cursive;
}

.info-dep {
    font-family: 'Vina Sans', cursive;
    font-weight: lighter;
    font-size: 25px;
}

/*Estilos de acceder al manual*/

.acc-manual {
    position: absolute;
    top: 180px;
    right: 20px;
}

.acc-manual div {
    width: 100px;
    margin: 0 auto;
}

.acc-manual a img {
    width: 100%;
}

.acc-manual h2 {
    font-weight: lighter;
    font-size: 1.3em;
    color: #034492;
    text-shadow: 0 0 5px #fff;
}

@media screen and (min-width: 760px) and (max-width: 950px) {
    .acc-manual h2 {
        padding: 0;
        text-align: center;
        max-width: 120px;
    }

    .nav-items ul a {
        width: 150px;
    }
}

@media screen and (min-width: 260px) and (max-width: 600px) {

    .cont-head-tittle {
        width: 90%;

    }

    .tittle-complete-page {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    .cont-nav-items {
        padding: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 15px;
        position: relative !important;
        border-radius: 0 22.5px 22.5px 0;
        width: 60px;
        height: 45px;
    }

    .nav-items {
        display: none;

    }

    .lista-items {
        flex-wrap: wrap;
    }

    .nav-items ul a {
        text-align: center;
        border-bottom: solid 1px #fff;
        width: 90%;
    }

    .menu-responsive {
        display: flex;
    }

    .acc-manual div {
        width: 80px;
    }

    .acc-manual {
        align-items: center;
        display: flex;
        top: 135px;
    }

    .acc-manual h2 {
        font-size: 1em;
    }

    h3,h2{
        font-weight: lighter;
    }

    .cont-dis{
        flex-wrap: wrap;
    }

    .gift3{
        width: 80%;
    }

    .cont-exp-pendiente{
        width: 95%;
    }
}