:root {
    --first-color: #034492;
    --second-color: #E8DAEF;
    --compl-color: #0070C2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    min-height: 100vh;
    background-image: url("../IMG/fondo-body-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}

/*Estilos cabecera*/

.head-page {
    background-image: url("../IMG/Fondo-header_Mesa\ de\ trabajo\ 1.jpg");
    background-position: center;
    width: 100%;
    padding: 10px;
}

.cont-head-tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 365px;
}

.tittle-page {
    display: inline-block;
    color: #fff;
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: lighter;
    font-size: 50px;
}

.tittle-complete-page {
    color: #fff;
    font-family: 'Righteous', cursive;
    font-weight: lighter;
    font-size: 25px;
}

/* Estilos menu de experiencia */

.cont-nav-items{
    background-color: var(--first-color);
    width: 100%;
    z-index: 100;
}

.nav-items{
    margin: 0 auto; 
    min-height: 35px;
    justify-content: center;
}

.nav-items ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-items ul a{
    padding: 4px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    text-decoration: none;
    font-family: 'Righteous', cursive;
    color: #0B2748;
    font-weight: lighter;
}

.nav-items ul a:hover{
    transition: 0.5s;
    background-color: var(--compl-color);
    color: #fff;
}

.menu-responsive{
    background-color: transparent;
    border-style: none;
    display: none;
    width: 25px;
}

/*Estilos menu de información*/

.elementos { 
    background-color: var(--compl-color);
    width: 100%;
    padding: 10px;
}

.nav-elementos{
    margin: 0 auto;
    width: 50%;
}

.nav-elementos{
    width: 940px;
    margin: 0 auto; 
}


.nav-elementos ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-elementos li{
    margin: 0 0 0 25px;
    text-align: center;
}

.nav-elementos a{
    color: #0B2748; 
    font-size: 18px;
    text-decoration: none; 
    font-family: 'Righteous', cursive;
}

.nav-elementos a:hover{
    transition: 0.5s;
    color: var(--second-color);
}

/*Estilos de inicio de contenido*/
main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Cabin', sans-serif;
}
.cont-info-mru {
    width: 65%;
    text-align: justify;
    line-height: 40px;
}

.cont-info-mru ul{
    padding-left: 60px;
}

h2{
    padding: 10px;
    font-family: 'Righteous', cursive;
    text-align: center;
}

h3{
    padding-top: 15px;
    font-family: 'Righteous', cursive;
}

.ejemplo-mru{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.eje-mru{
    padding: 5px;
    text-align: center;
}

.eje-mru img{
    border-color: var(--compl-color);
    border-width: 1px;
    border-style: solid;
    width: 470px;
    height: 160px;
    margin: 0 auto;
}

.cont-info-mag{
    width: 65%;
    text-align: justify;
    line-height: 40px;
}

.info-mag{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.velocidad{
    flex: 1;
}

.tiempo{
    flex: 1;
}

.cont-vel{
    display: flex;
    align-items: center;
}

.cont-t{
    display: flex;
    align-items: center;
}

.cont-dis{
    display: flex;
    align-items: center;
}

.cont-expl{
    width: 80%;
}

/*Estilos para los gifts*/
.gift1, .gift2, .gift3{
    width: 20%;
    padding: 10px;
    text-align: center;
}

.gift1, .gift2{
    min-width: 200px;
}

.gift img{
    object-fit: fill;
}

/* sección de Gráficos y Ecuaciones*/

.cont-graph{
    padding-top: 25px;
    width: 65%;
}

.ecuaciones{
    text-align: justify;
    line-height: 40px; 
}

.formula{
    width: 70%;
    padding: 10px;
    text-align: center;
}

.ecuaciones ul{
    padding-left: 60px;
}

.cont-graph-speed{
    text-align: justify;
    line-height: 40px;
}

.cont-graph-speed ul{
    padding-left: 60px;
}

.img-speed{
    width: 70%;
    text-align: center;
}

.img-dist{
    text-align: center;
}

.cont-graph-ace{
    text-align: justify;
    line-height: 40px;
}

.img-ace{
    text-align: center;
}

/*Estilos para tablas de conversion*/

.cont-magnitudes{
    width: 50%;
}

.cont-tabla{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tables{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fact-conv{
    padding-top: 15px;
    padding: 10px;
    font-family: 'Righteous', cursive;
    text-align: center;
}

table{
    margin: 5px 15px 15px 15px;
}

thead{
    background: var(--compl-color);
    color: white;
    font-weight: bold;
}

.subtitulos{
    background: var(--second-color);
}

td, th{
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 8px 15px;
}

/*Boton pantalla completa

.acc-fullScr{
    position: fixed;
    bottom: 85px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #777;
}

/*footer: pie de pagina*/

.footer-page{
    position: absolute;
    bottom: 0;
    background-color: var(--first-color);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.sub-info-dep{
    font-family: 'Righteous', cursive;
}

.info-dep{
    font-family: 'Vina Sans', cursive;
    font-weight: lighter;
    font-size: 25px;
}

@media screen and (min-width: 260px) and (max-width: 750px){
    .cont-head-tittle{
        width: 90%;
        
    }
    .tittle-complete-page{
        font-size: 20px;
        width: 100%;
        text-align: center;
    }
    .cont-nav-items{
        padding: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 15px;
        position: relative !important;
        border-radius: 0 22.5px 22.5px 0;
        width: 60px;
        height: 45px;
    }
    .nav-items{
        display: none;
        
    }

    .lista-items{
        flex-wrap: wrap;
    }
    .nav-items ul a{
        text-align: center;
        border-bottom: solid 1px #fff;
        width: 90%;
    }
    .menu-responsive{
        display: flex;
    }
}